<div class="all">
    <div style="display: flex;">
        <div>
            <div>
                <mat-label class="header-status">
                    Mã phiếu nhập
                </mat-label>
            </div>
            <div style="margin-top: 10px;">
                <mat-label style="margin-left: 20px; font-size: 15px;color: #000000;">
                    #{{item.MaPN}}
                </mat-label>
            </div>
        </div>    
    </div>
    <mat-divider style="margin-top: 20px; font-size: 20px;"></mat-divider>

    <div class="card-detail-NCC">
        <mat-card class="card-NCC">
            <div style=" height: 30px;">
                <mat-label class ="title-card">
                    Thông tin nhà cung cấp
                </mat-label>
            </div>
            <mat-divider></mat-divider>
            <div class="info-user">
                <div class="info-item">
                    <div class="title-item">
                        <mat-label >Email  </mat-label> 
                    </div>
                    <div class="title-item1">
                        <mat-label>:</mat-label> 
                    </div>
                    <div>
                        <mat-label>{{itemNCC.Email}}</mat-label>
                    </div>
                </div>
                <div class="info-item">
                    <div class="title-item">
                        <mat-label >Số điện thoại </mat-label> 
                    </div>
                    <div class="title-item1">
                        <mat-label>:</mat-label>
                    </div> 
                    <div>
                        <mat-label>{{itemNCC.SDT}}</mat-label>
                    </div>
                </div>
                <div class="info-item">
                    <div class="title-item">
                        <mat-label >Địa chỉ</mat-label> 
                    </div>
                    <div class="title-item1">
                        <mat-label>:</mat-label>
                    </div> 
                    <div>
                        <mat-label>{{itemNCC.DiaChi}}, {{itemNCC.Phuong}}, {{itemNCC.Quan}}, {{itemNCC.ThanhPho}}</mat-label>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="card-detail-NCC">
        <mat-card class="card-NCC">
            <div style=" height: 30px;">
                <mat-label class ="title-card">
                    Dang sách bánh nhập
                </mat-label>
            </div>
            <mat-divider></mat-divider>
            <mat-accordion>
                <mat-expansion-panel class="header" hideToggle disabled="true">
                  <mat-expansion-panel-header>
                    <mat-panel-description style="color: #000000;" >
                        Mã bánh
                    </mat-panel-description>
                    <mat-panel-description style="color: #000000;" >
                      Mã KT
                    </mat-panel-description>
                    <mat-panel-description style="color: #000000;" >
                      Kích thước
                    </mat-panel-description>
                    <mat-panel-description style="color: #000000;" >
                      NSX
                    </mat-panel-description>
                    <mat-panel-description style="color: #000000;" >
                      HSD
                    </mat-panel-description>
                    <mat-panel-description style="color: #000000;" >
                        Trạng thái
                    </mat-panel-description>
                    <mat-panel-description style="color: #000000;" >
                      Số lượng
                    </mat-panel-description>
                    <mat-panel-description style="color: #000000;" >
                      Giá nhập
                    </mat-panel-description>
                    <mat-panel-description style="color: #000000;" >
                      Giá bán
                    </mat-panel-description>
                    <mat-panel-description style="color: #000000;" class="delete">
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              
                <mat-expansion-panel disabled="true"  hideToggle *ngFor="let it of listHSD" class="list-items">
                  <mat-expansion-panel-header class="header-menu">
                    <mat-panel-description style="color: #000000;align-items: center;" class="first">
                        {{it.MaBanh}}
                      </mat-panel-description>
                    <mat-panel-description style="color: #000000;align-items: center;" class="first">
                      {{it.MaKT}}
                    </mat-panel-description>
                    <mat-panel-description style="color: #000000;align-items: center;" >
                      {{it.TenKT}}
                    </mat-panel-description>
                    <mat-panel-description style="color: #000000;align-items: center;" >
                        {{it.NSX | date:"dd/MM/Y"}}
                      </mat-panel-description>
                    <mat-panel-description style="color: #000000;align-items: center;" >
                        {{it.HSD | date:"dd/MM/Y"}}
                      </mat-panel-description>
                      <mat-panel-description style="color: #ff0000;align-items: center;" >
                        {{it.TinhTrang}}
                      </mat-panel-description>
                      <mat-panel-description style="color: #000000;align-items: center;" >
                        {{it.SL}}
                      </mat-panel-description>
                      <mat-panel-description style="color: #000000;align-items: center;" >
                        {{it.DonGiaNhap | DonVi}}
                      </mat-panel-description>
                      <mat-panel-description style="color: #000000;align-items: center;" >
                        {{it.DonGiaBan | DonVi}}
                      </mat-panel-description>
                      <mat-panel-description style="color: #000000;align-items: center;" class="delete">
                        <mat-icon>clear</mat-icon>
                      </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle disabled="true" style="background-color: #c7c7c7;" (click)="goToSuaPhieuNhap()">
                  <mat-expansion-panel-header class="header-menu">
                    <mat-panel-description style="color: #000000;display: flex;justify-content: center;" class="button-add">
                      <mat-icon>add</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
                <!-- <mat-expansion-panel hideToggle disabled="true" [ngClass]="{'displayNone': !checkClickButtonAddKT}">
                  <mat-expansion-panel-header class="header-menu">
                    <mat-panel-description style="color: #000000;" class="button-add">
                      abc  
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel class="header" hideToggle disabled="true" [ngClass]="{'displayNone': checkClickButtonAddKT}" (click)="AddKT()">
                  <mat-expansion-panel-header class="header-menu">
                    <mat-panel-description style="color: #000000;" class="button-add">
                      <mat-icon [ngClass]="{'displayNone': checkClickButtonAddKT}">add</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel class="header" hideToggle disabled="true" [ngClass]="{'displayNone': !checkClickButtonAddKT}">
                  <mat-expansion-panel-header class="header-menu">
                    <mat-panel-description style="color: #000000;" class="button-add" >
                      <mat-icon>done</mat-icon>
                    </mat-panel-description>
                    <mat-panel-description style="color: #000000;" class="button-add" (click)="CloseAddKT()">
                      <mat-icon>clear</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel> -->
              </mat-accordion>
        </mat-card>
    </div>
</div>
