.all{
    //width: 1112px;
width: 1112px; 
    // margin-left: 192px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.example-form {
    width: 90%;
    margin-top: 20px;
}
  
.example-full-width {
    width: 100%;
    margin-left: 20px;
}

.flex{
    display: flex;
}

.Anh{
    height: 20%;
    width: 20%;
    margin-left: 20px;
    margin-top: 20px;
}

.Ma-Banh{
    width: 20%;
}

.Ten-Banh{
    width: 80%;
}

.Loai-Banh{
    width: 20%;
}

.Nha-Cung-Cap{
    width: 80%;
}

.Ngay-San-Xuat{
    width: 20%;
}

.Han-Su-Dung{
    width: 20%;
}

.So-Luong{
    width: 20%;
}

.Mo-Ta{
 width: 100%;
 height: 100px;
}

mat-form-field{
    margin-left: 20px;
}

.title-input{
    color: #ff0000;
    font-size: 16px;
}
