.header{
    background-color: #d4d4d4;
}
mat-expansion-panel{
    //width: 1112px;
width: 1112px;
    // margin-left: 192px;
  }
  
  mat-panel-description{
    width: 100px;
  }
  
  mat-panel-description{
    color: #000000;
  }

  .list-items:hover{
    background-color: #d4d4d4;
  }

  .DisplayNone{
    display: none;
  }
  
  .title-input{
    color: #ff0000;
    font-size: 16px;
  }