.header{
    background-color: #d4d4d4;
  }
  
  mat-expansion-panel{
      //width: 1112px;
  width: 100%;
      // margin-left: 192px;
    }
    
    mat-panel-description{
      
      color: #000000;
    }
    .first{
        width: 30px;
    }
    .second{
        width: 200px;
    }
    .third{
        width: 150px;
    }
    .four{
        width: 200px;
    }
    .fifti{
        width: 370px;
    }
  
    .list-items:hover{
      background-color: #d4d4d4;
    }
    .title-input{
        color: #ff0000;
        font-size: 16px;
    }