.header{
  background-color: #d4d4d4;
}

mat-expansion-panel{
  //width: 1112px;
width: 1112px;
  // margin-left: 192px;
}

mat-panel-description{
  width: 100px;
  color: #000000;
}

.list-items:hover{
  background-color: #d4d4d4;
}
